{% extends 'base.html.twig' %}

{% block title %}
	Episode{{ episode.title}}
{% endblock %}

{% block body %}

	
	<h2>Voir l'épisode: {{ episode.number}}. {{ episode.title}}</h2>
	<p> {{ episode.synopsis }}</p>

	<a href="{{ path('season_show', { programId: program.id, seasonId:season.id }) }}" class="card-link">
	Voir la saison</a>
</a>{% endblock %}
