{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<h1 class="mt-0">{{ program.title }}</h1>
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{% if program.category is not null %}
					{{ program.category.name }}
				{% else %}
					Catégorie non définie
				{% endif %}
			</p>
		</div>
	</div>

	{% for season in program.seasons %}

		<div class="card-group">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">SAISON
						{{ season.number }}</h5>
					<p class="card-text">{{ season.Description}}</p>
					<a href="{{ path('season_show', { program: program.id, season:season.id }) }}" class="card-link">Voir la saison</a>
					<p class="card-text">
						<small class="text-muted">{{ season.year }}</small>
					</p>
				</div>
			</div>
		{% else %}
			Aucune saison trouvée.
		{% endfor %}
	</div>
	<br>
	<br>
	<a href="{{ path('list_index') }}">Retour à la liste des programmes</a>
{% endblock %}
