{% extends 'base.html.twig' %}

{% block title %}
	Saisons
	{{ season.number }}
	-
	{{ season.program.title }}
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="mb-4 text-center ">Saison
			{{ season.number }}
			:
			{{ season.program.title }}</h1>
		<h2 class="mb-4 ">{{ season.description }}</h2>

		<h3 class="mb-3">Épisodes :</h3>
		<div class="row">
			{% for episode in season.episodes %}
			<div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
				<div class="card-header">Épisode {{ episode.number }}</div>
				<div class="card-body">
				<h5 class="card-title">{{ episode.title }}</h5>
					<p class="card-text"> <a href="{{ path('episode_show', { program: program.id, season:season.id, episode: episode.id}) }}" class="btn btn-primary">Voir l'épisode</a></p>
				</div>
			</div>
		{% else %}
			<p class="col">Aucun épisode pour cette saison</p>
		{% endfor %}
	</div>

	<a href="{{ path('program_show', {id: program.id}) }}" class="btn btn-secondary mt-4">Retour à la série</a>
</div>{% endblock %}
